
body {
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(255, 219, 146);
    display: flex;
    justify-content: center;
    align-items: center;

}


.name-box {
    padding: 60px;
    margin: 20px 20px;
    width:400px;
    height:150px;
    background:rgb(88, 90, 84);
    position: absolute;
    z-index: 10;
    border-radius: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.name-box-content {
    position:absolute;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-align: center;
}

 /* Choose the name text */
h2 {
    color:rgb(182, 181, 179);
    z-index: 10;
}


.main-body {

    background-color: #197287;
    height: 700px;
    width: 450px;
    border-radius: 14px 14px 110px 14px;
    border: 7px outset #7c8382;
    padding: 20px;
    display: flex;
    z-index: 0;
}

 i {
    font-size: 40px;
    color: rgb(0, 0, 0);
    z-index: 11;
} 

.test {
    display: flex;
}


.screen {
    flex-direction: column;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    background-color: #edddd4;
    height: 300px;
    width: 385px;
    border-radius: 5px;
    border: 3px solid rgb(0, 0, 0);
    padding: 27px;
    z-index: 3;
}

.controller {
    display: flex-inline;
    flex-direction: row;
    position: absolute;
    margin-top: 450px;
    margin-left: 12%;
}

.sleep-section {
    flex-wrap: wrap;
    font-size: 12px;
}

button {
    border: rgb(70, 69, 69);
    border-radius: 10px;
    padding: 10px;
    border-style: double;
}

button:hover {
    cursor: pointer;
}

.social-button {
    background-color:rgb(137, 202, 135);
}

.sleep-button {
    background-color:rgb(175, 151, 73);
}

.nuke-button {
    background-color:rgb(192, 89, 58);
}

.music-button {
    background-color:rgb(153, 169, 184);
}

/* .div-monster-img {
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
} */

.egg-img {
    transform: scale(6);
    max-width: 300px;
    max-height: 300px;
    position:absolute;
    margin-left: 180px;
    margin-top: 80px;
}

.monster-img {
    transform: scale(0.5);
    align-items: center;
    max-width: 300px;
    max-height: 300px;
}

.fa-heart {
    color: rgb(151, 4, 4);
    font-size: 26px;
}

.fa-user-friends {
    color: rgb(202, 171, 84);
    font-size: 21px;
}

.gg-comment {
    font-size: 25px;
}